<div class="container container-title">
  <div class="row">
    <div class="col-8">
      <div class="container">
        <h2 class="summary-title">Koszyk:
          <span *ngIf="cart.itemCount > 0"> {{ cart.itemCount }} produktów</span>
          <span *ngIf="cart.itemCount === 0">(pusty)</span>
        </h2>
      </div>
    </div>
    <div class="col-4">
      <h2 class="summary-title">Podsumowanie zamówienia</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="container">
        <div class="row item-row" *ngFor="let queue of cart.queues">
          <div class="col img-wrapper">
            <img [appShowImage]="queue.product">
          </div>
          <div class="col-7">
            <h2 class="item-title">{{queue.product.name}}</h2>
            <p class="item-subtitle">{{queue.product.category}}</p>
            <div class="item-details">
                <p>{{queue.product.description}}</p>
                <p>Rozmiar:</p>
                <p>Ilość sztuk:
                    <input 
                      min="1"
                      max="10" 
                      type="number" 
                      class="input-count"
                      [value]="queue.quantity"
                      (change)="cart.updateQuantity(queue.product, $event.target.value)"/>
                </p>
            </div>
          </div>
          <div class="col-2">
            <div class="item-price">
              <p>{{queue.product.price}} zł</p>
            </div>
            <div class="item-delete">
              <button mat-raised-button 
                      class="button-cart" 
                      (click)="cart.removeLine(queue.product.id)">Usuń
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <app-cart-summary></app-cart-summary>
    </div>
  </div>
</div>
