.sticky {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.nav-container {
  display: flex;
  align-items: stretch;
  color: black;
  background-color: white;
}

.nav-container > div {
  margin: 10px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
}

.brand-logo {
  display: flex;
  flex-grow: 2;
  align-items: center;
}

.brand-logo span {
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  margin: 0 30px;
}

.links-container {
  flex-grow: 8;
  display: block;
}

.nav-list {
  margin: 0;
  padding: 10px;
}

li {
  display: inline-block;
  padding: 10px;
}

.links-categories {
  color: black;
}

.links-categories:hover {
  text-decoration: underline;
}

.icon-container {
  flex-grow: 1;
}

.nav-icon {
  padding: 0px 15px;
}

.nav-icon .material-icons {
  font-size: 36px;
  margin-top: 5px;
  cursor: pointer;
  color: black;
}

.material-icons {
  margin: 0;
}

.nav-icon .material-icons:hover {
  transform:translateY(-8px);
  transition: all 0.2s ease-in-out ;
}

.search-panel {
  background-color: rgb(224, 219, 219);
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.search-panel-hidden {
  height: 0;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.search-panel-hidden > .search-container {
  display: none;
}

.search-container {
  position: relative;
}

.search-container > span {
  position: absolute;
  top: 10px;
  right: 15px;
}

.search-container > input {
  padding-right: 40px;
}

.search-input {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 400px;
  padding: 10px;
  outline: none;
  margin-right: 10px;
  font-size: 18px;
  border: none;
}




