<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="gallery">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">  
          <div class="carousel-item active" data-interval="99000">
            <img style="width: 100%"  class="main-img" src="assets/{{product.image[0]}}.jpg" alt="...">
          </div>
          <ng-container *ngFor="let image of product.image | slice: 1">
            <div class="carousel-item" data-interval="99000">
              <img style="width: 100%" src="assets/{{image}}.jpg" class="main-img" alt="...">
            </div>
          </ng-container>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
        <div class="small-gallery">
          <ng-container *ngFor="let image of product.image">
            <img class="small-img" src="assets/{{image}}.jpg">
          </ng-container>  
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="container-product-info">
        <div class="product-info product-name">
          <p>{{product.name}}</p>
        </div>
        <div class="product-info product-category">
          <p>{{product.category}}</p>
        </div>
        <div class="product-info product-price">
          <p>{{product.price}} zł</p>
        </div>
        <div class="product-info product-description">
          <p>{{product.description}}</p>
        </div>
        <div class="product-info product-size">
          <p>Wybierz rozmiar
            <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option>
          </select></p>
        </div>
        <div class="product-info product-size-select">

        </div>
        <div class="product-info button-add-to-cart">
          <button mat-raised-button 
                  class="button-cart"
                  (click)="addProductToCart(product)">Dodaj do koszyka</button>
        </div>
      </div>
    </div>
  </div>
</div>