<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="gallery">
        <img class="main-img" [appShowImage]="product">
        <div class="small-gallery">
          <img class="small-img" src="assets/pilka.jpg">
          <img class="small-img" src="assets/getry.jpg">
          <img class="small-img" src="assets/buty_adidas.jpg">
          
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="container-product-info">
        <div class="product-info product-name">
          <p>{{product.name}}</p>
        </div>
        <div class="product-info product-category">
          <p>{{product.category}}</p>
        </div>
        <div class="product-info product-price">
          <p>{{product.price}} zł</p>
        </div>
        <div class="product-info product-description">
          <p>{{product.description}}</p>
        </div>
        <div class="product-info product-size">
          <p>Wybierz rozmiar
            <select>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option>
          </select></p>
        </div>
        <div class="product-info product-size-select">

        </div>
        <div class="product-info button-add-to-cart">
          <button mat-raised-button 
                  class="button-cart"
                  (click)="addProductToCart(product)">Dodaj do koszyka</button>
        </div>
      </div>
    </div>
  </div>
</div>