<app-navbar></app-navbar>
Menu:

liczba kategorii: {{categories.length}}
liczba produktów: {{products.length}}
<button (click)="showCart()">Twój koszyk</button>
<app-cart-summary></app-cart-summary>
<div class="col-xs-3 p-a-1">
  <button class="btn btn-block btn-outline-secondary" (click)="changeCategory()">Wszystkie</button>
  <button *ngFor="let category of categories" class="btn btn-block btn-outline-dark" [class.active]="category == selectedCategory" (click)="changeCategory(category)">
    {{category}}
  </button>
</div>
  <div class="card-container">
    <mat-card *ngFor="let product of products"  class="example-card">
      <img [appShowImage]="product" mat-card-image>
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
        <h4 class="price-container">{{product.price}} zł</h4>
      </mat-card-header>
      <mat-card-actions>
        <button  mat-raised-button class="button-cart" (click)="addProductToCart(product)">Do koszyka</button>
      </mat-card-actions>
    </mat-card>
  </div>
   
  <div class="form-inline pull-xs-left m-r-1"> -->
    <select class="form-control" [value]="productsPerPage"
        (change)="changePageSize($event.target.value)">
      <option value="2">2 na stronie</option>
      <option value="3">3 na stronie</option>
    </select>
  </div>
<!-- </div> -->
<app-footer></app-footer>