.container-panel {
  height:70%;
}

.auth-panel {
  width: 90%;
  min-width: 300px;
  background-color: rgb(214, 208, 208);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mat-form {
  width: 100%;
}

.input-auth {
  font-size: 18px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px rgb(214, 208, 208) inset !important;
}

::ng-deep .mat-input-element {
  caret-color: black!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: black!important;
}

::ng-deep .mat-form-field-underline {
  background-color: black!important;
}

::ng-deep .mat-form-field-ripple {
  background-color: black!important;
}

.bg-black {
  background-color: black;
}
