.col-2 {
  padding: 0 5px 0 0;
}

.container-wrapper {
  min-height: 70vh;
}

.item-row {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.col {
  min-width:50px;
}

.item-title {
  font-weight: 550;
  font-size: 18px;
}

.item-title,
.item-subtitle {
  margin: 0;
  padding: 0;
}

.item-subtitle {
  color: grey;
}

.item-details {
  margin-top: 15px;
}

.item-price p {
  font-size: 18px;
  color: grey;
}

.input-count {
  width: 40px;
  padding: 0 2px;
  border: 1px solid rgb(212, 210, 210);
}

.input-count:focus {
  border: 1px solid grey;
  outline:none;
}

p {
  margin: 2px 0 0 0;
}

p:last-of-type {
  margin-top: 0;
}

.button-cart {
  align-self: flex-end;
  background-color: black;
}

.container-cart {
  min-height: 70vh;
}

@media (max-width: 575.98px) { 
  .container-cart {
    margin-top: 50px;
  }

  .summary-title{
    margin-top: 50px;
  }

  .item-price {
    font-size: 14px;
  }

  .item-title {
    font-size: 16px;
    text-justify:inter-word;
  }

  .item-details {
    margin-top: 8px;
  }

}
