.grid-container {
  position: relative;
  top: 100px;
  grid-template-columns: auto auto auto auto;
  display: grid;
  padding: 0 5%;
  padding: 1% 8% 3% 12%;
  background-color: rgb(224, 219, 219);
}

.grid-item {
  width: 90%;
  margin: 0 5%;
}

mat-list-item {
 justify-content: center;
}

.mat-list-base.inline-list {
  display: flex;
  justify-content: center;
}

mat-nav-list h2 {
  padding: 5px 15px;
}

mat-panel-title h2 {
  margin: 0;
}

mat-expansion-panel {
  background-color: rgb(224, 219, 219);
}

mat-expansion-panel {
  display: none;
}

mat-list {
  visibility: visible;
}

h2 {
  visibility: visible;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
  background-color: rgb(224, 219, 219);
}

.forDesktop {
  display: block;
}

.footer {
  height: 50px;
  background-color: rgb(34, 34, 34);
}

@media (max-width: 767.98px) {
  .grid-container {
    grid-template-columns: auto auto;
  }

  .grid-item {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 575.98px) {
  mat-expansion-panel {
    display: block;
  }

  .grid-container {
    margin: 0;
    padding: 0;
    grid-template-columns: auto;
  }

  .grid-item {
    width: 100%;
  }

  .forDesktop {
    display: none;
  }

  h2 {
    font-size: 16px;
  }
}