
  <div [ngClass]="getClassName()" class="container">
  
      <div class="row d-flex align-items-center justify-content-center">
        <h2 class="text-center mt-2">Koszyk:
          <span *ngIf="cart.itemCount === 0; else second">(pusty)</span>
          <ng-template #second>
            <span *ngIf="cart.itemCount < 5; else third"> {{ cart.itemCount }} produkty</span>
          </ng-template>
          <ng-template #third>
            <span *ngIf="cart.itemCount >= 5"> {{ cart.itemCount }} produktów</span>
          </ng-template>
        </h2>
      </div>
  
      <div class="row container-wrapper overflow-auto">
        <div class="row mt-1 mx-1 bg-white h-auto p-1" *ngFor="let queue of cart.queues">
          <div class="col-5 img-wrapper">
            <img class="wrap px-1 m-auto" [appShowImage]="queue.product">
          </div>
          <div class="col-7">
            <p class="item-title mt-1 m-0">{{queue.product.name}}</p>
            <p class="item-subtitle m-0">{{queue.product.category}}</p>
            <div class="item-details my-1">
              <p class="my-0 py-0">Ilość sztuk: {{queue.quantity}}</p>
              <p class="my-0">Rozmiar: {{queue.product.size}}</p>
              <p class="my-0 item-price">{{queue.product.price}} zł</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row p-2 d-flex align-items-center justify-content-center">
        <button mat-raised-button class="button-cart w-100 relative" routerLink="/store/cart" (click)="closeWindow()">Przejdź do koszyka</button>
      </div>
  </div>