.mat-elevation-z8 {
  margin-left: 20%;
  min-height:100vh;
}

table {
  width: 100%;
  overflow: auto;
}

th {
  font-weight:550;
  color: black;
  font-size: 14px;
}

td {
  font-size: 14px;
  color:rgb(100, 98, 98);
  cursor: pointer;
}

td:nth-child(1) {
  cursor: pointer;
}

.marked {
  background-color: gainsboro;
  color: black;
}

.btn-delete {
  color: red;
  min-width:80px;
}

.btn-action {
  color:black;
  min-width:80px;
}

h1 {
  font-weight: 550;
}

.bg-black {
  background-color: black;
}

.bg-red {
  background-color: rgb(218, 6, 6);
}

.bg-gainsboro {
  background-color: gainsboro;
}

label {
  color: gray;
}


@-webkit-keyframes animatetop {
  from {
    top:-300px; 
    opacity:0
  } 
  to {
    top:0; 
    opacity:1
  }
}

@keyframes animatetop {
  from {
    top:-300px; 
    opacity:0
  }
  to {
    top:0;
    opacity:1
  }
}


@media (max-width: 992px) { 

  .mat-elevation-z8 {
    margin-left: 20%;
    box-shadow: none;
  }
}

@media (max-width: 575.98px) { 

  .mat-elevation-z8 {

    height: 100%;
    margin: 50px 0 0 0;
    overflow-x: visible;
    box-shadow: none;
  }

  th {
    position: relative;
  }
  
  nsg-container {
    min-width:60px;
  }
}
